openapi: 3.2.0
info:
  title: CoreLogic Trestle RESO Web Data System API
  version: '2.0'
  description: Trestle's RESO Web API is an OData 4.0 / RESO Web API 2.0 compliant endpoint that delivers MLS Property, Member, Office, Media, OpenHouse, Teams, and related real-estate resources across multiple aggregated U.S. MLSs. Authentication uses OAuth2 Client Credentials against api.cotality.com/trestle/oidc/connect/token with scope=api; tokens are valid for 8 hours. Conforms to the RESO Data Dictionary 2.0.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Trestle RESO Web API production server
security:
- oauth2ClientCredentials: []
tags:
- name: DataSystem
  description: Service-level metadata and available resources.
paths:
  /DataSystem:
    get:
      operationId: getDataSystem
      summary: Get Data System Metadata
      description: Returns top-level service metadata and the list of available resources.
      tags:
      - DataSystem
      responses:
        '200':
          description: DataSystem metadata document.
          content:
            application/json:
              schema:
                type: object
  /$metadata:
    get:
      operationId: getMetadata
      summary: Get OData Service Metadata
      description: Returns the OData EDMX service metadata document describing every entity, property, and enumeration.
      tags:
      - DataSystem
      responses:
        '200':
          description: EDMX metadata document.
          content:
            application/xml:
              schema:
                type: string
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.cotality.com/trestle/oidc/connect/token
          scopes:
            api: Access to the Trestle RESO Web API
