openapi: 3.2.0
info:
  title: CoreLogic Trestle RESO Web History Transactional API
  version: '2.0'
  description: Trestle's RESO Web API is an OData 4.0 / RESO Web API 2.0 compliant endpoint that delivers MLS Property, Member, Office, Media, OpenHouse, Teams, and related real-estate resources across multiple aggregated U.S. MLSs. Authentication uses OAuth2 Client Credentials against api.cotality.com/trestle/oidc/connect/token with scope=api; tokens are valid for 8 hours. Conforms to the RESO Data Dictionary 2.0.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Trestle RESO Web API production server
security:
- oauth2ClientCredentials: []
tags:
- name: HistoryTransactional
  description: Transactional change history for tracked resources.
paths:
  /HistoryTransactional:
    get:
      operationId: queryHistoryTransactional
      summary: Query History Transactional Records
      description: Returns transactional change history events for tracked resources.
      tags:
      - HistoryTransactional
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Replication'
      responses:
        '200':
          description: OData collection of HistoryTransactional records.
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    Top:
      name: $top
      in: query
      description: Maximum number of records to return. Default 10, maximum 1000 (300000 for key-only queries).
      schema:
        type: integer
        maximum: 300000
        default: 10
    Replication:
      name: Replication
      in: query
      description: When true, enables high-volume replication mode for datasets exceeding 1M rows.
      schema:
        type: boolean
    Filter:
      name: $filter
      in: query
      description: OData filter expression. Field names are case-sensitive and must match $metadata.
      schema:
        type: string
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.cotality.com/trestle/oidc/connect/token
          scopes:
            api: Access to the Trestle RESO Web API
