openapi: 3.2.0
info:
  title: CoreLogic Trestle RESO Web Media API
  version: '2.0'
  description: Trestle's RESO Web API is an OData 4.0 / RESO Web API 2.0 compliant endpoint that delivers MLS Property, Member, Office, Media, OpenHouse, Teams, and related real-estate resources across multiple aggregated U.S. MLSs. Authentication uses OAuth2 Client Credentials against api.cotality.com/trestle/oidc/connect/token with scope=api; tokens are valid for 8 hours. Conforms to the RESO Data Dictionary 2.0.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Trestle RESO Web API production server
security:
- oauth2ClientCredentials: []
tags:
- name: Media
  description: Listing media (photos, videos, documents).
paths:
  /Media:
    get:
      operationId: queryMedia
      summary: Query Media Records
      description: Returns Media (photos, videos, documents) for listings.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Select'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      responses:
        '200':
          description: OData collection of Media records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCollection'
components:
  parameters:
    Skip:
      name: $skip
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
    Filter:
      name: $filter
      in: query
      description: OData filter expression. Field names are case-sensitive and must match $metadata.
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Maximum number of records to return. Default 10, maximum 1000 (300000 for key-only queries).
      schema:
        type: integer
        maximum: 300000
        default: 10
    Select:
      name: $select
      in: query
      description: Comma-separated list of fields to return.
      schema:
        type: string
  schemas:
    Media:
      type: object
      description: A RESO Media record (photo, video, document).
      properties:
        MediaKey:
          type: string
        ResourceRecordKey:
          type: string
        ResourceName:
          type: string
        ClassName:
          type: string
        MediaURL:
          type: string
        MediaType:
          type: string
        MediaCategory:
          type: string
        Order:
          type: integer
        ModificationTimestamp:
          type: string
          format: date-time
    MediaCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        '@odata.nextLink':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Media'
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.cotality.com/trestle/oidc/connect/token
          scopes:
            api: Access to the Trestle RESO Web API
