openapi: 3.2.0
info:
  title: CoreLogic Trestle RESO Web Model API
  version: '2.0'
  description: Trestle's RESO Web API is an OData 4.0 / RESO Web API 2.0 compliant endpoint that delivers MLS Property, Member, Office, Media, OpenHouse, Teams, and related real-estate resources across multiple aggregated U.S. MLSs. Authentication uses OAuth2 Client Credentials against api.cotality.com/trestle/oidc/connect/token with scope=api; tokens are valid for 8 hours. Conforms to the RESO Data Dictionary 2.0.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Trestle RESO Web API production server
security:
- oauth2ClientCredentials: []
tags:
- name: Model
  description: Resource model definitions.
paths:
  /Model:
    get:
      operationId: queryModel
      summary: Query Resource Models
      description: Returns resource model definitions enumerated by the service.
      tags:
      - Model
      responses:
        '200':
          description: OData collection of Model definitions.
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.cotality.com/trestle/oidc/connect/token
          scopes:
            api: Access to the Trestle RESO Web API
