openapi: 3.0.3
info:
  title: CoreLogic Trestle Direct Web API — CRM Contacts HistoryTransactional API
  version: '1.0'
  description: The Direct Web API provides a direct, bidirectional OData connection to the Matrix MLS CRM database. Resources include Contacts, EmailHistory, Lists, PortalContents, SavedSearches, UserRegistry, and an aggregated DashboardAPI. Authentication is OpenID Connect via Clareity Single Sign-On or HTTP Basic. OData query options ($select, $expand, $orderby, $filter) apply throughout.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/direct-webapi-crm-reference.html
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Direct Web API CRM production server
security:
- oidcClareity: []
- basicAuth: []
tags:
- name: HistoryTransactional
  description: Transactional change history for tracked resources.
paths:
  /HistoryTransactional:
    get:
      operationId: queryHistoryTransactional
      summary: Query History Transactional Records
      description: Returns transactional change history events for tracked resources.
      tags:
      - HistoryTransactional
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Replication'
      responses:
        '200':
          description: OData collection of HistoryTransactional records.
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    Filter:
      name: $filter
      in: query
      description: OData filter expression. Field names are case-sensitive and must match $metadata.
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Maximum number of records to return. Default 10, maximum 1000 (300000 for key-only queries).
      schema:
        type: integer
        maximum: 300000
        default: 10
    Replication:
      name: Replication
      in: query
      description: When true, enables high-volume replication mode for datasets exceeding 1M rows.
      schema:
        type: boolean
  securitySchemes:
    oidcClareity:
      type: openIdConnect
      openIdConnectUrl: https://api.cotality.com/trestle/oidc/.well-known/openid-configuration
    basicAuth:
      type: http
      scheme: basic
