openapi: 3.0.3
info:
  title: CoreLogic Trestle Direct Web API — CRM Contacts UserRegistry API
  version: '1.0'
  description: The Direct Web API provides a direct, bidirectional OData connection to the Matrix MLS CRM database. Resources include Contacts, EmailHistory, Lists, PortalContents, SavedSearches, UserRegistry, and an aggregated DashboardAPI. Authentication is OpenID Connect via Clareity Single Sign-On or HTTP Basic. OData query options ($select, $expand, $orderby, $filter) apply throughout.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/direct-webapi-crm-reference.html
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Direct Web API CRM production server
security:
- oidcClareity: []
- basicAuth: []
tags:
- name: UserRegistry
  description: Per-user preference key/value store.
paths:
  /UserRegistry:
    get:
      operationId: queryUserRegistry
      summary: Query User Registry
      description: Returns per-user preference key/value records.
      tags:
      - UserRegistry
      responses:
        '200':
          description: OData collection of UserRegistry records.
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: createUserRegistryEntry
      summary: Create User Registry Entry
      description: Creates a new user registry key/value entry.
      tags:
      - UserRegistry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Created entry.
  /UserRegistry/GetAllowedKeys():
    get:
      operationId: getAllowedKeys
      summary: Get Allowed Registry Keys
      description: Returns the list of allowed key names for the UserRegistry.
      tags:
      - UserRegistry
      responses:
        '200':
          description: Array of allowed key names.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
components:
  securitySchemes:
    oidcClareity:
      type: openIdConnect
      openIdConnectUrl: https://api.cotality.com/trestle/oidc/.well-known/openid-configuration
    basicAuth:
      type: http
      scheme: basic
