openapi: 3.2.0
info:
  title: CoreLogic Trestle RESO Web Member API
  version: '2.0'
  description: Trestle's RESO Web API is an OData 4.0 / RESO Web API 2.0 compliant endpoint that delivers MLS Property, Member, Office, Media, OpenHouse, Teams, and related real-estate resources across multiple aggregated U.S. MLSs. Authentication uses OAuth2 Client Credentials against api.cotality.com/trestle/oidc/connect/token with scope=api; tokens are valid for 8 hours. Conforms to the RESO Data Dictionary 2.0.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Trestle RESO Web API production server
security:
- oauth2ClientCredentials: []
tags:
- name: Member
  description: MLS member (agent) records.
paths:
  /Member:
    get:
      operationId: queryMember
      summary: Query Member Records
      description: Returns MLS Member (agent) records matching OData query options.
      tags:
      - Member
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Select'
      - $ref: '#/components/parameters/Expand'
      - $ref: '#/components/parameters/OrderBy'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      - $ref: '#/components/parameters/Count'
      responses:
        '200':
          description: OData collection of Member records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Member({MemberKey}):
    get:
      operationId: getMember
      summary: Get Member By MemberKey
      description: Returns a single Member record by MemberKey.
      tags:
      - Member
      parameters:
      - name: MemberKey
        in: path
        required: true
        schema:
          type: string
        description: The unique RESO MemberKey for the Member record.
      responses:
        '200':
          description: A single Member record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
components:
  parameters:
    Filter:
      name: $filter
      in: query
      description: OData filter expression. Field names are case-sensitive and must match $metadata.
      schema:
        type: string
    Select:
      name: $select
      in: query
      description: Comma-separated list of fields to return.
      schema:
        type: string
    Count:
      name: $count
      in: query
      description: When true, includes the total count of matching records in @odata.count.
      schema:
        type: boolean
    Top:
      name: $top
      in: query
      description: Maximum number of records to return. Default 10, maximum 1000 (300000 for key-only queries).
      schema:
        type: integer
        maximum: 300000
        default: 10
    Skip:
      name: $skip
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
    OrderBy:
      name: $orderby
      in: query
      description: Comma-separated list of fields with optional asc / desc modifiers.
      schema:
        type: string
    Expand:
      name: $expand
      in: query
      description: Comma-separated list of related resources to inline-expand.
      schema:
        type: string
  schemas:
    MemberCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        '@odata.nextLink':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Member'
    Member:
      type: object
      description: A RESO Member (agent) record.
      properties:
        MemberKey:
          type: string
        MemberFirstName:
          type: string
        MemberLastName:
          type: string
        MemberFullName:
          type: string
        MemberLoginId:
          type: string
        MemberStatus:
          type: string
        MemberEmail:
          type: string
        MemberPreferredPhone:
          type: string
        OfficeKey:
          type: string
        OriginatingSystemName:
          type: string
        ModificationTimestamp:
          type: string
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
  responses:
    Unauthorized:
      description: Access token missing, expired, or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.cotality.com/trestle/oidc/connect/token
          scopes:
            api: Access to the Trestle RESO Web API
