openapi: 3.0.3
info:
  title: CoreLogic Trestle Direct Web API — CRM Contacts Media API
  version: '1.0'
  description: The Direct Web API provides a direct, bidirectional OData connection to the Matrix MLS CRM database. Resources include Contacts, EmailHistory, Lists, PortalContents, SavedSearches, UserRegistry, and an aggregated DashboardAPI. Authentication is OpenID Connect via Clareity Single Sign-On or HTTP Basic. OData query options ($select, $expand, $orderby, $filter) apply throughout.
  contact:
    name: Trestle Support
    email: trestlesupport@cotality.com
    url: https://trestle-documentation.corelogic.com/direct-webapi-crm-reference.html
  license:
    name: Proprietary
    url: https://www.cotality.com/terms-of-use
servers:
- url: https://api.cotality.com/trestle/odata
  description: Direct Web API CRM production server
security:
- oidcClareity: []
- basicAuth: []
tags:
- name: Media
  description: Listing media (photos, videos, documents).
paths:
  /Media:
    get:
      operationId: queryMedia
      summary: Query Media Records
      description: Returns Media (photos, videos, documents) for listings.
      tags:
      - Media
      parameters:
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Select'
      - $ref: '#/components/parameters/Top'
      - $ref: '#/components/parameters/Skip'
      responses:
        '200':
          description: OData collection of Media records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaCollection'
components:
  schemas:
    Media:
      type: object
      description: A RESO Media record (photo, video, document).
      properties:
        MediaKey:
          type: string
        ResourceRecordKey:
          type: string
        ResourceName:
          type: string
        ClassName:
          type: string
        MediaURL:
          type: string
        MediaType:
          type: string
        MediaCategory:
          type: string
        Order:
          type: integer
        ModificationTimestamp:
          type: string
          format: date-time
    MediaCollection:
      type: object
      properties:
        '@odata.context':
          type: string
        '@odata.count':
          type: integer
        '@odata.nextLink':
          type: string
        value:
          type: array
          items:
            $ref: '#/components/schemas/Media'
  parameters:
    Skip:
      name: $skip
      in: query
      description: Number of records to skip for pagination.
      schema:
        type: integer
    Filter:
      name: $filter
      in: query
      description: OData filter expression. Field names are case-sensitive and must match $metadata.
      schema:
        type: string
    Select:
      name: $select
      in: query
      description: Comma-separated list of fields to return.
      schema:
        type: string
    Top:
      name: $top
      in: query
      description: Maximum number of records to return. Default 10, maximum 1000 (300000 for key-only queries).
      schema:
        type: integer
        maximum: 300000
        default: 10
  securitySchemes:
    oidcClareity:
      type: openIdConnect
      openIdConnectUrl: https://api.cotality.com/trestle/oidc/.well-known/openid-configuration
    basicAuth:
      type: http
      scheme: basic
